
  



.dateinput
{
    margin-top: -80px;
    margin-bottom: 0;
    margin-left: 40%;
    position: relative;
}

.logo
{
    margin-left: 5%;
    margin-top: 1%;
}



.maps
{
    position: relative;

    height: 85%;
    width: 90%;
    margin-left: 5%;
    margin-top: -85px;    
}

.table
{
    height: 70%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    resize: both;
    overflow: auto;
}
.grid
{
    position: relative;
    margin-top: -3px; 
}

mat-grid-tile {
  
    vertical-align: top;
    background-color:transparent;

  }